/*Colors*/
$brand-primary : #2186F7;
$brand-secondary : #FF2BEA;

$success : #B8E986;
$warning : #F8E81C;
$error : #D0011B;

$font-color-primary : $brand-three;
$font-color-secondary : $brand-eight;
$font-color-tertiary : #fff;

$font-size : 14;

$font-bold : 500;
$font-med : 400;
$font-reg : 300;


$font-primary: "futura-pt", arial, sans-serif;
$font-secondary: "open-sans", arial, sans-serif;

/*Media Query functions */
$xs-screen: 480px;
$sm-screen: 767px;
$md-screen: 991px;
$lg-screen: 1024px;

//uniform padding

$tab-pad: 40;
$mob-pad : 20;

@mixin xs {
  @media (min-width: #{$xs-screen}) {
    @content;
  }
}
@mixin sm {
  @media (min-width: #{$lg-screen}) {
    @content;
  }
}
@mixin md {
  @media (min-width: #{$xs-screen}) {
    @content;
  }
}
@mixin lg {
  @media (min-width: #{$lg-screen}) {
    @content;
  }
}

